$bp-xxl: 87.5em; // 1400px
$bp-xl: 81.25em; // 1300px
$bp-lg: 68.75em; // 1100px
$bp-md-lg: 60.625em; //  970px
$bp-md: 50em; //  800px
$bp-sm: 43.65em; //  700px
$bp-xs: 23.75em; //  380px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px

  @media all and (max-width: $bp-xl) {
    font-size: 52.5%;
  }

  @media all and (max-width: $bp-md) {
    font-size: 50%;
  }

  @media all and (max-width: $bp-sm) {
    font-size: 42.5%;
  }
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $dark-grey;
  background-color: $gallery;
  background-image: linear-gradient(to right bottom, $white, $silver);
  background-repeat: no-repeat;
  background-size: cover;
}

a:link,
a:visited {
  color: $dark-grey;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.md-hidden {
  display: flex;
  flex-direction: column;

  @media all and (min-width: $bp-sm) {
    display: none !important;
  }
}

.sm-hidden {
  @media all and (max-width: $bp-sm) {
    display: none !important;
  }
}