$bp-xl: 81.25em;               // 1300px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% -> 1rem = 10px
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $dark-grey;
  background-image: linear-gradient(to right bottom, $white, $silver);
  background-repeat: no-repeat;
  background-size: cover;
}

a:link,
a:visited {
  color: $dark-grey;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.orbit-spinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}

.loader__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2000;
  overflow: hidden;
}

.loader__on {
  overflow: hidden;
}