$black: #000;
$dark-grey: #4e4f4f;
$silver: #cdcdcd;
$gallery: #f0f0f0;
$white: #fff;

$turquoise: #0099a7;

$success: #00c851;
$info: #33b5e5;
$warning: #ffbb33;
$danger: #ff4444;

.stop-color {
  &--dark-grey {
    stop-color: $dark-grey;
  }

  &--turquoise {
    stop-color: $turquoise;
  }
}