.auth {
  &__container {
    width: 50vw;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media all and (max-width: $bp-md) {
      width: 80vw;
      min-height: 50vh;
    }
  }

  &__title {
    font-size: 6rem;
    text-align: center;
  }

  &__forgotten {
    margin-left: 2rem;
  }

  &__back {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    left: 0;
    color: lighten($silver, 10%) !important;
    font-size: 4rem;
    transition: all .4s ease;

    &:hover,
    &:focus,
    &:active {
      color: lighten($silver, 5%) !important;
    }
  }

  &__title-box {
    display: flex;
    justify-content: center;
    position: relative;
  }
}