.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave {
  opacity: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: all .4s ease;
}




.fade-longer-enter, .fade-longer-leave-to {
  opacity: 0;
}

.fade-longer-enter-to, .fade-longer-leave {
  opacity: 1;
}

.fade-longer-enter-active, .fade-longer-leave-active {
  transition: all .8s ease;
}