.btn {
  padding: 2rem 3rem;
  border: 0;
  border-radius: 5rem;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s ease;
  display: block;
  letter-spacing: 2pt;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    text-decoration: none !important;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: #ccc;
    
    &:hover,
    &:focus,
    &:active {
      background-color: #ccc;
      box-shadow: none;
    }
  }

  &--primary {
    background-color: $dark-grey;
    color: $white !important;

    &:hover,
    &:focus,
    &:active {
      background-color: lighten($dark-grey, 5%);
      box-shadow: 0 8px 15px rgba($black, .1);
    }
  }

  &__small {
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    transition: all .4s ease;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 8px 15px rgba($black, .1);
      text-decoration: none !important;
      transform: translateY(-2px);
    }

    &--primary {
      background-color: $dark-grey;
      color: $white !important;

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($dark-grey, 5%);
      }
    }

    &--success {
      background-color: $success;
      color: $white !important;

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($success, 5%);
      }
    }

    &--danger {
      background-color: $danger;
      color: $white !important;

      &:hover,
      &:focus,
      &:active {
        background-color: lighten($danger, 5%);
      }
    }
  }

  &__diagnostic {
    background-color: rgba($dove-grey, .34);
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 3rem 0;
    color: $white !important;
    font-size: 3rem;
    letter-spacing: 3.4pt;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus,
    &:active {
      background-color: $dark-grey;
      text-decoration: none !important;
    }
  }

  &__control {
    background-color: rgba($dove-grey, .34);
    position: fixed;
    bottom: 4rem;
    cursor: pointer;
    color: $white;
    font-size: 2.4rem;
    margin: 0 auto;
    padding: 2.25rem 10rem;
    border-radius: 5rem;
    text-transform: uppercase;
    border: none;
    letter-spacing: 2pt;
    transition: all .2s ease;

    &--continue {
      right: 5rem;
    }

    &--back {
      left: 5rem;
    }

    &:hover {
      background-color: $dark-grey;
      outline: none;
      border: none;
      box-shadow: 0 8px 15px rgba($black, .1);
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__password {
    position: absolute;
    top: calc(50% - 1rem);
    right: 2rem;
    border-radius: 0;
    padding: 1rem;
    user-select: none;

    &:hover {
      svg {
        color: darken($silver, 10%);
      }
    }

    svg {
      color: $silver;
      font-size: 3rem;
      transition: all .4s ease;
    }
  }

  &__results {
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: $white;
    transition: all .2s ease;

    &:first-child {
      margin-right: 1rem;
    }

    &:hover {
      text-decoration: none !important;
      color: $white;
      background-color: $dark-grey;
    }

    &:focus,
    &:active {
      text-decoration: none !important;
    }
  }

  &__big {
    background-color: rgba($dove-grey, .34);
    font-size: 3rem;
    letter-spacing: 3.4pt;
    cursor: pointer;
    user-select: none;
    width: calc(100vw / 3);
    text-align: center;
    color: $white;
    transition: all .2s ease;

    &:hover {
      background-color: $dark-grey;
    }

    & a,
    & span {
      color: $white;
      width: 100%;
      height: 100%;
      display: block;
      padding: 3rem 0;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }
}