.flash {
  &__alert {
    width: 100vw;
    text-align: center;
    color: $white;
    padding: 3rem 0;

    &--success {
      background-color: $success;
    }

    &--info {
      background-color: $info;
    }

    &--warning {
      background-color: $warning;
    }

    &--danger {
      background-color: $danger;
    }
  }
}