.nav {
  &__container {
    z-index: 1000;
    padding: 4rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media all and (max-width: $bp-md) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__menu {
    flex: 0 0 auto;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media all and (max-width: $bp-md) {
      justify-content: center;
    }

    li {
      @media all and (max-width: $bp-md) {
        margin-top: 5rem;
      }
    }

    a {
      margin: 0 .5rem;
      padding: 1rem 3rem;
      border-radius: 4rem;
      cursor: pointer;
      letter-spacing: 2pt;
      transition: all .4s ease;
      background-color: $gallery;
      box-shadow: 0 8px 15px rgba($black, .1);

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  &__brand {
    @media all and (max-width: $bp-md) {
      width: 100%;
      text-align: center;
    }

    & img {
      @media all and (max-width: $bp-md) {
        width: 12rem;
      }
    }
  }

  &__link-active {
    background-color: $dark-grey !important;
    color: $white !important;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba($black, .1);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      background-color: $dark-grey;
      color: $white !important;
    }
  }
}