.paginator {
  &__container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    display: flex;
    overflow: visible;
  }

  &__element {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    &:hover {
      justify-content: center;
    }
  }

  &__label-container {
    background-color: $dark-grey;
    height: 100%;
    width: 0;
    transition: all .4s ease;
  }

  &__label-container-active {
    width: 100%;
  }

  &__label {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 1.6rem;
    opacity: 0;
    cursor: pointer;
    transition: all .2s ease;
  }

  &__element:hover &__label {
    opacity: 1;
    transform: translateY(-5rem);
    height: 8rem;
  }

  &__element:hover &__label-container {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    transform: translateY(-1rem);
    box-shadow: 0 8px 15px rgba($black, .1);
  }
}