.program {
  &__container {
    width: 45rem;
    height: 10rem;
    margin-top: 4rem;
    display: flex;

    &:hover {
      cursor: pointer;
    }

    @media all and (max-width: $bp-md-lg) {
      width: 90vw;
    }
  }

  &__result {
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__result-value {
    font-size: 15px;
    position: absolute;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;

    @media all and (max-width: $bp-md) {
      padding-left: 3.5rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    letter-spacing: 1.5pt;
    position: absolute;
    left: 0;
    transition: all .4s ease;
    
    @media all and (max-width: $bp-md-lg) {
      font-size: 1.4rem;
    }

    @media all and (max-width: $bp-md) {
      font-size: 18px;
      padding-left: 3.5rem;
      transform: translateY(-2.5rem);
    }

    @media all and (max-width: $bp-sm) {
      font-size: 14px;
      letter-spacing: 1.1pt;
    }
  }

  &__slogan {
    position: absolute;
    top: 35%;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1.25pt;
    opacity: 0;
    transition: all .4s .1s ease;

    @media all and (max-width: $bp-md-lg) {
      font-size: 11px;
    }

    @media all and (max-width: $bp-md) {
      font-size: 10px;
      opacity: 1;
      letter-spacing: 1pt;
    }
  }

  &__buttons {
    position: absolute;
    top: 65%;
    opacity: 0;
    transition: all .4s .1s ease;

    @media all and (max-width: $bp-md) {
      top: 70%;
      opacity: 1;
    }
  }

  &__container:hover &__title {
    transform: translateY(-2.5rem);
  }

  &__container:hover &__slogan,
  &__container:hover &__buttons {
    opacity: 1;
  }
}