.summary {
  &__container {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    @media all and (max-width: $bp-md) {
      flex-direction: column;
      padding-bottom: 10rem;
    }
  }

  &__item {
    width: 35rem;
    position: relative;
    margin: 0 auto 4rem;
  }

  &__number {
    width: 12rem;
    height: 12rem;
    background-color: $white;
    border-radius: 50%;
    font-family: $headline-stack;
    font-size: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9.2rem;
    font-size: 1.6rem;
    letter-spacing: 1.6pt;
  }
}