.toast {
  font-size: 1.4rem !important;
  border-radius: 3rem !important;
  box-shadow: 0 8px 15px rgba($black, .1) !important;

  @media all and (max-width: $bp-xs) {
    width: 80vw !important;
  }

  svg {
    margin-right: 1rem !important;
  }

  &--success {
    background-color: $turquoise !important;
  }

  &--info {
    background-color: $info !important;
  }

  &--warning {
    background-color: $warning !important;
  }

  &--danger {
    background-color: $danger !important;
  }
}

.toasted-container {
  align-items: flex-end;

  &.top-right {
    right: 5rem !important;

    @media all and (max-width: $bp-xs) {
      right: 10% !important;
    }
  }
}