.tooltip {
  &__container {
    position: absolute;
    bottom: 10rem;
    left: 40%;
    max-width: 35rem;
    padding: 1rem 2rem;
    background-color: $dark-grey;
    border-radius: 3px;
    color: $white;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-end;
    transition: all .4s ease;
    box-shadow: 0 8px 15px rgba($black, .1);
  }

  &__viewbox {
    position: absolute;
    bottom: -2.25rem;
    left: 0;
    fill: $dark-grey;
    height: 3rem;
  }

  &__comma {
    box-shadow: 0 8px 15px rgba($black, .1);
  }
}