.main {
  &__container {
    width: 93vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media all and (max-width: $bp-md) {
      padding-bottom: 6rem;
    }

    &--medium {
      width: 67.5vw;

      @media all and (max-width: $bp-sm) {
        width: 80vw;
      }
    }

    &--results {
      @media all and (max-width: $bp-md) {
        min-height: 50vh;
      }
    }

    &--last-step {
      width: 67.5vw;

      @media all and (max-width: $bp-md) {
        min-height: 70vh;
      }

      @media all and (max-width: $bp-sm) {
        width: 80vw;
      }
    }
  }

  &__results {
    padding-bottom: 10rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media all and (max-width: $bp-md-lg) {
      justify-content: center;
    }
  }

  &__title {
    font-size: 6rem;
    text-align: center;

    &--big {
      font-size: 10rem;

      @media all and (max-width: $bp-xs) {
        font-size: 6rem;
      }
    }
  }

  &__subtitle {
    font-family: $body-stack-light;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2pt;
    margin-top: 2rem;

    @media all and (max-width: $bp-xs) {
      font-size: 2rem;
    }
  }

  &__lead {
    font-size: 2rem;
    letter-spacing: 1.67pt;
    text-align: center;
    margin-top: 2rem;
  }

  &__header {
    width: 100%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;

    &--center {
      justify-content: center;
    }
  }

  &__row {
    margin-top: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &--center {
      justify-content: center;
    }
  }

  &__back {
    position: absolute;
    top: 13.5rem;
    left: 0;
    color: lighten($silver, 10%) !important;
    font-size: 4rem;
    transition: all .4s ease;

    &:hover,
    &:focus,
    &:active {
      color: lighten($silver, 5%) !important;
    }
  }

  &__btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
  }

  &__table-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
}